*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 20px;
    padding: 10px 10px;
    background-color: hsl(210, 60%, 87%);
}

h1 {
    margin-top: 30px;
    margin-bottom: 50px;
    text-shadow: 2px 3px 2px #000;
    color: rgb(252, 248, 248);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: .03rem;
    word-spacing: .02rem;
}

section {
    padding: 30px;
    background-color: hsl(210, 60%, 87%);
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url(Img/WipeCol2.png);
    background-repeat: no-repeat;
    background-position: right 5px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /*box-shadow: 7px 13px 37px #000;*/
}

button {
    background-color: rgb(32, 32, 248);
    color: white;
    width: 16%;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 15px 100px;
    box-shadow: 7px 13px 37px #808080;
}


/* Arriba
    margin-top: px;
    Derecha
    margin-right: px;
    Abajo
    margin-bottom: px;
    Izquierda
    margin-left: px; 
    width: (ancho) - 1920px;
    heigth: (alto) - 1080px;
*/